<div class="page-wrapper">

    <div class="new-song">
        <div class="row">
            <div class="col-md-4 text-center">
              <a href="#" class="btn btn-danger pull-right" id="abort-song-creation"><span class="glyphicon glyphicon-remove"></span></a>
                <div class="box">
                    <h1>New Song</h1>
                    <div class="box-content">
                        <input type="text" id="song-title" class="tag-title" placeholder="< Song title >">
                        <hr/>
                        <br/>
                        <input type="text" id="song-genre" class="tag-title" placeholder="< Blues, Soul >">
                        <hr />
                        <a href="#" class="btn btn-default" id="create-new-song">Create</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
